@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./clash-display.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1130px;
}

/* clash display  */

.light {
  font-family: "ClashDisplay-Light";
}

.regular {
  font-family: "ClashDisplay-Regular";
}

.medium {
  font-family: "ClashDisplay-Medium";
}

.bold {
  font-family: "ClashDisplay-Bold";
}

.extraBold {
  font-family: "ClashDisplay-Bold";
  font-weight: 900;
}

/* ubuntu  */

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* main  */

#light .bg-header {
  background-image: url("src/assets/MainPage/bg/bg.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-size: cover;
  z-index: -1;
}

#dark .bg-header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-size: cover;
  z-index: -1;
}

.benefitsShadow {
  box-shadow:
    0 4px 8px rgb(51 77 114 / 6%),
    0 20px 40px rgb(51 77 114 / 6%);
}

#light .bgShadow {
  box-shadow: 0px 25px 25px 5px #f2f3f5;
}

#dark .bgShadow {
  box-shadow: 0px 0px 0px 0px;
}

.rotateX {
  transform: rotateX(3.142rad);
  transition-duration: 300ms;
}

.rotate {
  transform: rotateX(0);
}

.blueShadow {
  content: "";
  width: 400px;
  height: 400px;
  background: var(--primary);
  position: absolute;
  border-radius: 50%;
  filter: blur(5.5rem);
  opacity: 0.3;
  z-index: -1;
  right: 6rem;
  top: 5rem;
}

.input::placeholder {
  color: #bbbfc3;
}

#dark .input {
  color: #bbbfc3;
  background: #11191f;
}

#dark .input:focus {
  color: #bbbfc3;
}

.MuiSlider-track {
  color: #247bf6;
  padding: 3px;
}

.MuiSlider-rail {
  color: #d5dce2;
  padding: 3px;
}

.MuiSlider-thumb {
  color: #247bf6;
  padding: 17px;
}

.modal {
  background: rgba(213, 220, 226, 0.8);
}

.buttonShadow {
  box-shadow: 0px 0px 17px -6px rgba(66, 68, 90, 0.43);
}

/* cookie switch  */

.MuiSwitch-root.MuiSwitch-sizeMedium.css-julti5-MuiSwitch-root {
  padding: 0;
  height: 20px;
  top: -4px;
  right: 0px;
}

.MuiSwitch-thumb.css-jsexje-MuiSwitch-thumb {
  position: absolute;
  width: 15px;
  height: 15px;
  color: white;
  top: 2.5px;
  left: 3px;
}

.MuiSwitch-track.css-1yjjitx-MuiSwitch-track {
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 40px;
  background-color: transparent !important;
  opacity: 1;
}




